// -------------------------------
// Variables
// -------------------------------
//
// Colors
// -------------------------------
@color-gray: #333;
@color-white: #fff;
@color-brown: #5f3f00;
@color-yellow: #e9da5a;

// Fonts
// -------------------------------
@font-face {
    font-family: 'MonAmourFraktur-Broken';
    src: url('./fonts/MonAmourFraktur-Broken.eot');
    src: url('./fonts/MonAmourFraktur-Broken.eot?#iefix') format('embedded-opentype'), url('./fonts/MonAmourFraktur-Broken.woff') format('woff'), url('./fonts/MonAmourFraktur-Broken.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/MonAmourFraktur-Broken.svg#a2fa63adfb1fc43ffda751acfd836b86') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-basic: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-headline: 'MonAmourFraktur-Broken', @font-basic;

@responsive-helpers: 1;
@breakpointboarders-gap: 0;
@debug: 1;