html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    background: @color-white;
    height: 100%;
    font-family: @font-basic;
    font-size: 12px;
    line-height: 1.2em;
    color: @color-gray;
}

.main-wrapper {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

a {
    &,
    &:visited,
    &:link,
    &:hover,
    &:active,
    &:focus {
        color: @color-gray;
    }
}

ul.nav {

    &:after {
        content: '';
        display: inline-block;
        position: relative;
        width: 20%;
        height: 0;
    }
}

.plank {
    background-image:url("images/plank-small.svg");
    background-repeat:no-repeat;
    background-size:100% auto;
    display: block;
    float: left;
    width: 45%;
    margin: 0 2.5%;

    a {
        height: 50px;
        color: @color-white;
        display: block;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
    }
}

.plank-2 {
    background-image:url("images/plank-small.svg");
    background-repeat:no-repeat;
    background-size:100% auto;
    display: block;
    float: left;
    width: 25%;
    margin: 0 2.5%;
}

.ng-scope {
    text-align: center;
    font-family: @font-face;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}