/**
* eendragt-md.less
* This document includes the styling for the different screen in middle modus.
* @author Tamara Lütscher
* @version 1.0 */

.eendragt-game-online .nav-title.back,
.eendragt-game-campaign .nav-title.back,
.eendragt-game-index .nav-title.back
{
    color: @color-white;
    font-size: 3.5em;
    left: 0;
    position: relative;
    top: 23%;
}


.eendragt-game-online .nav-title,
.eendragt-game-campaign .nav-title,
.eendragt-game-index .nav-title {
    color: @color-white;
    font-size: 3.5em;
    left: 0;
    position: relative;
    top: 28%;
}

.title {
    font-size: 6.5em;
    line-height: 0.9em;
    text-align: center;
    font-family: MonAmourFraktur-Broken;
    color: @color-yellow !important;
}


.plank-small-deg {
    position: fixed;
    top: 54%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    .transform(rotate(38deg));
    left: 78%;
}

.eendragt-game-campaign .plank-small-deg {
    background-image: url("images/plank-small-deg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    margin: 50px -3.5% 0 -14px;
    position: fixed;
    top: 26%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 19%;
    left: 80%;
}

.eendragt-game-online .plank-small-deg {
    background-image: url("images/plank-small-deg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    margin: 50px -3.5% 0 -14px;
    position: fixed;
    top: 64%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 19%;
    left: 81%;
}

.eendragt-game-online .plank-big-deg {
    background-image: url("images/plank-small.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    left: 51%;
    margin: 28px 2.5%;
    position: fixed;
    top: 64%;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
    width: 30%;
}

