html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    background: @color-white;
    height: 100%;
    font-family: @font-frutiger-light;
    font-size: 12px;
    line-height: 1.2em;
    color: @color-gray;
}

.main-wrapper {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-image: url("images/background.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

a {
    &,
    &:visited,
    &:link,
    &:hover,
    &:active,
    &:focus {
        color: @color-gray;

    }
    text-align: center;
}

ul.nav {

    &:after {
        content: '';
        display: inline-block;
        position: relative;
        width: 20%;
        height: 0;
    }
}

.logo {
    display: block;
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    background: url(images/logo.svg) left top no-repeat;
    .background-size(100% auto);
    .text-hide;
    width: 50%;

    &:before {
        content: '';
        display: block;
        height: 0;
        padding-top: 27.9395%;
    }
}


.icon-sound {
    background-image: url("images/icon-sound.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    cursor: pointer;
    display: block;
    float: right;
    height: 229px;
    position: relative;
    right: 10px;
    top: 10px;
    width: 8%;
    z-index: 1;

}

.plank {
    background-image: url("images/plank-small.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    left: 40px;
    margin: 28px 2.5%;
    position: relative;
    top: 0;
    transform: rotate(-15deg);
    width: 36%;

    a {
        height: 50px;
        color: @color-white;
        display: block;
        line-height: 50px;
        text-align: center;
        font-size: 20px;

    }
}



.plank-small-deg {
    background-image: url("images/plank-small-deg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    margin: 50px -3.5% 0 -14px;
    position: fixed;
    top: 42%;
    transform: rotate(45deg);
    width: 18%;
    left: 53%;
}

.plank-big-deg {
    background-image: url("images/plank-small.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    left: 20%;
    margin: 28px 2.5%;
    position: fixed;
    top: 42%;
    transform: rotate(-15deg);
    width: 30%;
}


.plank.small.campaign {
    transform: rotate(0deg);
    position: fixed;
    top: 26%;
    float: none;
    left: 27%;
}

.plank.small.online {
    position: fixed;
    transform: rotate(0deg);
    top: 47%;
    float: none;
    left: 27%;
}

.nav-title {
    color: @color-white;
    font-size: 3em;
    position: relative;
    top: 18%;
    left: 25%;
    font-weight: bold;
}

.game-infos p {
    text-align: center;
    color: @color-brown;
    font-size: 1.85em;
    line-height: 1.25em;
}

.game-infos {
    margin: 0 auto;
    overflow: auto;
    position: fixed;
    top: 30%;
    width: 60%;
    max-height: 135px;
    left: 21%;
}

.title {
    font-size: 4.5em;
    line-height: 0.9em;
    text-align: center;
    font-family: MonAmourFraktur-Broken;
    color: @color-brown !important;
}


.title-container {
    height: 150px;
    position: fixed;
    text-align: center;
    top: 9%;
    width: 100%;
}

.eendragt-instructions-index .main-wrapper {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-image: url("images/background.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.eendragt-instructions-index .title-container  {
    height: auto;
}

/*
.eendragt-instructions-index .plank-small-deg {
    background-image: url("images/plank-small-deg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    margin: 50px -3.5% 0 -14px;
    position: fixed;
    top: 42%;
    transform: rotate(45deg);
    width: 23%;
    left: 53%;
}
*/

.eendragt-instructions-index .plank-big-deg {
    background-image: url("images/plank-small.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    left: 66%;
    margin: 28px 2.5%;
    position: fixed;
    top: 65%;
    transform: rotate(-15deg);
    width: 31%;
}


.eendragt-game-campaign .plank-big-deg {
    background-image: url("images/plank-small.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    left: 51%;
    margin: 28px 2.5%;
    position: fixed;
    top: 26%;
    transform: rotate(-15deg);
    width: 30%;
}


.eendragt-game-online .plank-big-deg {
    background-image: url("images/plank-small.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    left: 54%;
    margin: 28px 2.5%;
    position: fixed;
    top: 63%;
    transform: rotate(-15deg);
    width: 30%;
}

.eendragt-game-campaign .plank-small-deg {
    background-image: url("images/plank-small-deg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    margin: 50px -3.5% 0 -14px;
    position: fixed;
    top: 23%;
    transform: rotate(45deg);
    width: 19%;
    left: 78%;
}


.eendragt-game-online .plank-small-deg {
    background-image: url("images/plank-small-deg.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 129px;
    margin: 50px -3.5% 0 -14px;
    position: fixed;
    top: 60%;
    transform: rotate(45deg);
    width: 19%;
    left: 80%;
}



.eendragt-game-index .nav-title {
    color: @color-white;
    font-size: 2.5em;
    left: 0;
    position: relative;
    top: 20%;
}


.eendragt-game-campaign .nav-title,
.eendragt-game-online .nav-title {
    color: @color-white;
    font-size: 3em;
    left: 35%;
    position: relative;
    top: 16%;
    font-weight: bold;
}



.map-kaphoorn {
    background-image: url("images/kaphoorn-map.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 300px;
    left: 7%;
    position: absolute;
    width: 75%;

}

.title-map {
    color: @color-brown;
    font-family: MonAmourFraktur-Broken;
    font-size: 4.5em;
    left: 0;
    line-height: 0.9em;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 38%;
    z-index: 6;
}


.eendragt-instructions-index .nav-title {
    color: @color-white;
    font-size: 3em;
    position: fixed;
    top: 16%;
    font-weight: bold;
    left: 22%;
}



footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}