.eendragt-www-index {
    background:url(images/background.svg) left bottom;
    -webkit-background-size: cover;
    background-size: cover;

    .logo {
        display: block;
        position: absolute;
        top: 46%;
        left: 50%;
        .translate(-50%, -50%);
        background: url(images/logo.svg) left top no-repeat;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        .text-hide;
        width: 80%;
        height: 300px;
    }
    h1 {
        font-family: @font-headline;
        font-size: 90px;
        line-height: 1.2em;
        color: @color-gray;
        position: absolute;
        top: 42%;
        left: 50%;
        .translate(-50%, -50%);
        .text-shadow(0px 0px 30px rgba(255, 255, 255, 0.7));
    }
}