.eendragt-www-index {
    background: url(images/background.svg) left bottom;
    .background-size(cover);

    .logo {
        display: block;
        position: absolute;
        bottom: 2.5%;
        left: 2.5%;
        background: url(images/logo.svg) left top no-repeat;
        .background-size(100% auto);
        .text-hide;
        width: 60%;

        &:before {
            content: '';
            display: block;
            height: 0;
            padding-top: 27.9395%;
        }
    }
}