.eendragt-instructions-index {

    .nav-title {
        color: @color-white;
        font-size: 2.5em;
        position: relative;
        top: 19%;
        font-weight: bold;
        left: 0;
    }
}

