.eendragt-game-index {

    @media (min-width: 480px) {
    .nav-title {
        color: @color-white;
        font-size: 2em;
        position: relative;
        top: 18%;
        font-weight: bold;
        left: 0;
    }

    .title {
        font-size: 3.5em;
        line-height: 0.9em;
        text-align: center;
        font-family: MonAmourFraktur-Broken;
        color: @color-yellow !important;
    }

        .nav-title.back {
            color: @color-white;
            font-size: 2em;
            left: 0;
            position: relative;
            top: 18%;
        }

}


}