.eendragt-game-play {

    @amount: 9;
    map {
        display: block;
        max-width: 50%;
        margin: 20px auto;
        position: relative;
        &:before {
            content: '';
            display: block;
            height: 0;
            padding-top: 100%;
        }
        .eendragt-game-map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .clearfix {
            height: 100%;
            field {
                cursor: pointer;
                display: block;
                width: percentage(1/@amount);
                height: percentage(1/@amount);
                background: #8ce5fc;
                float: left;
                position: relative;
                &:nth-child(even) {
                    background: #d3f6ff;
                }

                &.opened {
                    background: #ddd;
                }

                &.hit {
                    background: #666;
                }

                &.destroyed {
                    background: #000;
                }
            }
            &:nth-child(even) {
                field {
                    background: #8ce5fc;

                    &:nth-child(odd) {
                        background: #d3f6ff;
                    }
                }
            }
        }
    }

    ship {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        &.terror {
            background: #004c1d;
        }
        &.horror {
            background: #00424c;
        }
        &.mckinsey {
            background: #00204c;
        }
        &.dropplet {
            background: #4c0029;
        }

        &.hit {
            &:before {
                content: '/';
                color: @color-white;
                font-size: 60px;
                display: block;
                text-align: center;
                width: 100%;
                position: absolute;
                left: 0;
                .vertical-center;
            }
        }
        &.destroyed {
            &:before {
                content: 'X';
            }
        }
    }
}