.eendragt-game-index {
    .nav-title {
        color: @color-white;
        font-size: 3.8em;
        position: relative;
        top: 31%;
        font-weight: bold;
        left: 0;
    }

    .title {
        font-size: 6.5em;
        line-height: 0.9em;
        text-align: center;
        font-family: MonAmourFraktur-Broken;
        color: @color-yellow !important;
    }

    .nav-title.back {
        color: @color-white;
        font-size: 3.8em;
        left: 0;
        position: relative;
        top: 24%;
    }
}