@size: 80px;
@amount: 9;
map {
    display: block;
    width: @amount * @size;
    height: @amount * @size;
    margin: 20px auto;

    .clearfix {
        field {
            display: block;
            width: @size;
            height: @size;
            background: #8ce5fc;
            float: left;
            position: relative;
            &:nth-child(even) {
                background: #d3f6ff;
            }

            > div {
                height: 100%;

                &.clicked {
                    background: gray;
                }
            }
        }
        &:nth-child(even) {
            field {
                background: #8ce5fc;

                &:nth-child(odd) {
                    background: #d3f6ff;
                }
            }
        }
    }
}

ship {
    div {
        font-size: 14px;
        color: @color-white;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        &.terror {
            background: #004c1d;
        }
        &.horror {
            background: #00424c;
        }
        &.mckinsey {
            background: #00204c;
        }
        &.torpedo {
            background: #22004c;
        }
        &.dropplet {
            background: #4c0029;
        }

        &.hit {
            &:before {
                content: '/';
                font-size: 80px;
                line-height: 80px;
                display: block;
                text-align: center;
            }
        }
        &.destroyed {
            &:before {
                content: 'X';
            }
        }
    }
}