@size: 80px;

map {
    display: block;
    width: 9 * @size;
    height: 9 * @size;
    margin: 20px auto;

    .clearfix {
        &:first-of-type field {
            border-top: 1px solid black;
        }
    }

    field {
        display: block;
        width: @size;
        height: @size;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        float: left;
        position: relative;

        &:last-child {
            border-right: 1px solid black;
        }
        
        > div {
            height: 100%;
        }
    }
}

ship {
    div {
        color: @color-white;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: grey;
        &.hit {
            background: red;
        }
        &.destroyed {
            background: black;
        }
    }
}