.eendragt-home-index {
    background: url(images/background.svg) left bottom;
    .background-size(cover);

    .logo {
        display: block;
        position: absolute;
        bottom: 2.5%;
        left: 2.5%;
        background: url(images/logo.svg) left top no-repeat;
        .background-size(100% auto);
        .text-hide;
        width: 60%;

        &:before {
            content: '';
            display: block;
            height: 0;
            padding-top: 27.9395%;
        }
    }


    .plank.small.first{
        transform: rotate(10deg);
    }

    .plank.small.second {
        position: relative;
        right: 30px;
        transform: rotate(54deg);
    }

    .plank.small.third {
        left: 70px;
        position: relative;
        top: 85px;
        transform: rotate(-50deg);
    }

    .plank.small.fourth {
        position: relative;
        right: 27px;
        transform: rotate(-4deg);
    }


    .plank-big-deg {
        background-image: url("images/plank-small.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: block;
        float: left;
        height: 129px;
        left: 40px;
        margin: 28px 2.5%;
        position: relative;
        top: 0;
        transform: rotate(-15deg);
        width: 55%;
    }

    .nav-title {
        color: @color-white;
        font-size: 2em;
        position: relative;
        top: 15px;
    }
}