.eendragt-home-index {
    background: url(images/background.svg) left bottom;
    .background-size(cover);

    .logo {
             display: block;
             position: absolute;
             bottom: 2.5%;
             left: 2.5%;
             background: url(images/logo.svg) left top no-repeat;
             .background-size(100% auto);
             .text-hide;
             width: 60%;

             &:before {
                 content: '';
                 display: block;
                 height: 0;
                 padding-top: 27.9395%;
             }
         }


    .plank.small.first{
        position: fixed;
        top: 0%;
        .transform(rotate(-10deg));
    }

    .plank.small.second {
        left: 58%;
        position: fixed;
        top: 25%;
        .transform(rotate(67deg));
    }


    .plank.small.third {
        left: 30%;
        position: fixed;
        top: 17%;
        .transform(rotate(4deg));
    }


    .plank-small-deg {
        background-image: url("images/plank-small-deg.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: block;
        float: left;
        height: 129px;
        margin: 50px -3.5% 0 -14px;
        position: fixed;
        top: 42%;
        .transform(rotate(45deg));
        width: 18%;
        left: 53%;
    }

    .plank-big-deg {
        background-image: url("images/plank-small.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: block;
        float: left;
        height: 129px;
        left: 20%;
        margin: 28px 2.5%;
        position: fixed;
        top: 42%;
        .transform(rotate(-15deg));
        width: 30%;
    }

   .nav-title {
        color: #ffffff;
        font-size: 3em;
        position: relative;
        top: 20%;
        font-weight: bold;
        left: 0;
    }

}